.step-icon{
    background: #dfdfdf;
    border-radius: 30px;
    color: #004b88;
    font-weight: bold;
    width: 35px;
    height: 35px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.step-icon.completed{
    background:#5cc0b5;
}